body {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    height: auto;
}
.table1{
        background-color: #FDDB00;
        height:85px;
        position:absolute;
        float:left;
        margin-top:0;
        width:100%;
}

.table1 img{
    width:90px;
    margin-top:5px;
}
.table1 .left img{
    float:left;
}
.table1 .left section{
    float:left;
    margin-left:5px;
}
.table1 .left section h1{
    font-size:24pt;
    color:darkblue;
}
.table1 .left section h2,h3{
    font-size:14pt;
}
.table1 .right{
    right:0;
    position:absolute;
    text-align:right;
    width:100%;

}

.table1 .right img{
    float:right;
        right:0;
}

.table1 .right section{
    font-size:12pt;
    font-weight:bold;
    text-align:right;
}

.table2{
        background-color: #005CB7;
        position:absolute;
        width:100%;
        color:white;
        height:30px;
        margin-top:85px;
 
}
.table2 .left{
    float: left; 


}

.table2 .left span{
    font-size:18pt;
    font-weight:bold;
    padding-left:25px;
}

.table2 .right{
    float: right;
    padding-top:5px;
}

.table2 .right span a{
    color:white;
    font-size:12pt;
    font-weight:bold;
}
.goback{
    margin:120px 0 0 25px;
    position:absolute;
}
.goback a{
    color:blue;
    font-weight:bold;

}

    .form .menu {
        position:absolute;
        margin-top:130px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 12pt;
        font-weight:normal;
        width:800px;
    }

        .form .menu .search {
            font-weight: bold;
            font-size: 12pt;
            margin: 0 5px 0 5px;
            padding: 2px 2px 2px 2px;
            background-color: #fefbf7;
        }

       .menu .search-button {
            font-weight: bold;
            font-size: 12pt;
            color: white;
            margin: 0 5px 0 5px;
            padding: 2px 15px 2px 15px;
            background-color: #4169E1;
            cursor: pointer;
            border-radius: 3px;
        }
 .menu .top{
     width:800px;
    margin-top:25px;
    display:flex;
    font-weight:normal;
}
.menu .top .top-left{
    width:400px;
    float:left;

}
.menu .top .top-left section{
   margin-right:25px;
}
.menu .top .top-right{
    width:50%;
    float:left;
    margin-top:-4px;
}
.menu .top .top-left .identification{
    width:800px;
}
.menu .top .top-left .identification .photo{
    width:200px;
    float:left;
}
.menu .top .top-left .identification .photo .submit{
font-weight: bold;
font-size: 12pt;
color: white;
margin: 0px 5px 0 90px;
padding: 2px 15px 2px 15px;
background-color: #4169E1;
cursor: pointer;
border-radius: 3px;
}
.menu .top .top-left .identification .photo .submit3{
font-weight: bold;
font-size: 12pt;
color: white;
margin: 0px 5px 0 5px;
padding: 2px 15px 2px 15px;
background-color: #4169E1;
cursor: pointer;
border-radius: 3px;
}
.menu .top .top-left .identification .photo .resendotp{
font-weight: bold;
margin-left:5px;
}
.menu .top .top-left .identification .photo .button4{
font-weight: bold;
font-size: 12pt;
color: white;
margin: 0px 0px 0 0px;
padding: 2px 15px 2px 15px;
background-color: #4169E1;
cursor: pointer;
border-radius: 3px;
float:right;
}
.menu .top .top-left .identification .ID{
    width:200px;
    float:left;
}

 .footer {
     position:absolute;
    bottom: 0;
    left:0;
    color: blue;
    font-style: italic;
    font-size: 10pt;

}
@media screen and (max-width:840px){
    body{
    width:840px;
}
    .table1{
        width:840px;
    }
    .table1 .left section h1{
        font-size:18pt;
        padding-bottom:13px;
        padding-top:3px;
    }
    .table1 .left section h2,h3{
        font-size:13pt;
    }
    .table1 .left section h2{
        padding-bottom:4px;
    }

    .table2{
       width:840px;
    }
    .menu{
width:840px;
    }
}
@media screen and (max-height:780px){
.footer{
    display:none;
    
}
}
